
<footer class="page-footer font-small pt-4" id="customize-style">
  <div class="container"> 
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Emergency Management System</h5>
        <p>
          Follow us on social media:
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="https://www.facebook.com" class="social-icon fa fa-facebook nav-link"></a></li>
          <li class="nav-item"><a href="https://www.twitter.com" class="social-icon fa fa-twitter nav-link"></a></li>
          <li class="nav-item"><a href="https://www.youtube.com" class="social-icon fa fa-youtube nav-link"></a></li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">More info</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Home</a>
            </li>
            <li>
              <a href="#!">Announcements</a>
            </li>
            <li>
              <a href="#!">Guides</a>
            </li>
            <li>
              <a href="#!">Report an incident</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Contact us</a>
            </li>
            <li>
              <a href="#!">Report an issue</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright
    <a href="#"> Emergency Management Sistem</a>
  </div>
</footer>