.nav-top {
  background-color: #0d9e73;
  height: 40px;
}

.social-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid white;
  color: white !important;
  margin: 0 6px;
  transition: 0.3s;
}

.social-icon:hover {
  border-color: #0d9e73;
  color: #0d9e73 !important;
  background: white;
}

.auth-btns button {
  margin: 0 10px;
}

.auth-btns span {
  color: grey;
}

.nav-height-100 {
  min-height: 100px
}

@media (max-width: 600px)  {
  .nav-top {
    display: none;
  }
}

@media (max-width: 991px)  {
  .auth-btns {
    margin-bottom: 10px;
    float: right;
  }
  .auth-btns > button {
    padding: 3px 20px !important;
    height: 32px;
  }
}

