<div class="bg-search">
  <div class="container">
    <div class="text-container">
      <div class="text-search-small">
        Keep up to date with the latest news
      </div>
      <div class="text-search">
        Search the latest incidents here
      </div>
    </div>
    <div class="row">
      <kendo-dropdownlist
        class="col-lg-3 col-sm"
        [data]="dataCountries"
        [value]="selectedCountry"
        [textField]="'name'"
        [valueField]="'name'"
        [defaultItem]="defaultCountryItem"
        (valueChange)="handleCountryChange($event)">
      </kendo-dropdownlist>
      <kendo-dropdownlist
        class="col-lg-3 col-sm"
        [data]="dataCities"
        [value]="selectedCity"
        [textField]="'name'"
        [valueField]="'name'"
        [defaultItem]="defaultCityItem"
        (valueChange)="handleCityChange($event)">
      </kendo-dropdownlist>
      <div class="input-group col-lg-6">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button (click)="searchIncidents(selectedCity)" class="btn btn-success search-button" type="button">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>

