<app-home></app-home>

<button #login id="openLoginForm" [hidden]="true" data-toggle="modal" data-target="#loginModal">Login</button>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form #userLoginForm="ngForm" (ngSubmit)="onSubmit(userLoginForm)" ngNativeValidate>
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="loginModal"><strong>Sign in</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="email-or-username-login" class="form-control" name="EmailOrUsername" #EmailOrUsername="ngModel" [(ngModel)]="user.EmailOrUsername" required>
                    <label for="email-or-username-login">Your email or username</label>
                </div>

                <div class="md-form pb-3">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="password-login" class="form-control" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required>
                    <label for="password-login">Your password</label>
                    <p class="font-small blue-text d-flex justify-content-end"><a routerLink="/forgot-password" data-dismiss="modal"  class="blue-text ml-1">Forgot Password?</a></p>
                </div>

                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1a">Sign in</button>
                </div>
                <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>

                <div class="row my-3 d-flex justify-content-center social-buttons-login">
                    <!--Facebook-->
                    <button type="button" class="btn btn-facebook z-depth-1a"><i class="fa fa-facebook text-center"></i></button>
                    <!--Twitter-->
                    <button type="button" class="btn btn-twitter z-depth-1a"><i class="fa fa-twitter"></i></button>
                    <!--Google +-->
                    <button type="button" class="btn btn-google-plus z-depth-1a"><i class="fa fa-google-plus"></i></button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
                <p class="font-small grey-text d-flex justify-content-end">Not a member? <a routerLink="/register" data-dismiss="modal" class="blue-text ml-1"> Sign Up</a></p>
            </div>
        </div>
        <!--/.Content-->
      </form>
    </div>
</div>
<!-- Modal -->
