body {
  background: rgb(238, 238, 238);
}

body.modal-open {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.body-container {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-search {
  height: 400px;
  background-image: url("/assets/wallpaper1.jpg");
  background-color: rgba(255, 255, 255, 0.75);
  background-position: right top;
  background-attachment: fixed;
  padding-top: 120px;
}


/* Add transition to drop down menus */
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.k-state-selected {
  background: #0d9e73 !important;
  border-color: #085F45 !important;
}

.k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-multiselect-wrap .k-input, .k-numeric-wrap .k-input {
  padding: 24px 12px;
}

.btn.btn-success[disabled],
.btn.btn-success {
  border-color: #0d9e73 !important;
  background-color: #0d9e73 !important;
}

.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:visited,
.btn.btn-success:active:focus,
.btn.btn-success:focus {
  border-color: #067A56 !important;
  background-color: #067A56 !important;
}


.btn.btn-secondary[disabled],
.btn.btn-secondary {
  border-color: #464948 !important;
  background-color: #464948 !important;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn.btn-secondary:visited,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:focus {
  border-color: #2B3532 !important;
  background-color: #2B3532 !important;
}
