<app-home></app-home>

<!-- Modal -->
<div tabindex="-1">
    <div class="modal-dialog">
        <form #forgotPasswordForm="ngForm" ngNativeValidate>
        <!--Content-->
        <ng-template #content let-modal>
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3"><strong>Forgot password?</strong></h3>
                <button type="button" class="close" (click)="modalRef.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="email-or-username-forgotPassword" class="form-control" name="EmailOrUsername" #model="ngModel" [(ngModel)]="emailOrUsername" required>
                    <label for="email-or-username-forgotPassword">Your email or username</label>
                </div>    
                <div class="text-center mb-3">
                    <button type="submit" (click)="onSubmit(forgotPasswordForm)" class="btn btn-success btn-block btn-rounded z-depth-1a">Reset password</button>
                </div>
            </div>
        </div>
        </ng-template>
        <!--/.Content-->
        </form>
    </div>
</div>
<!-- Modal -->

<app-popup-message 
  *ngIf="!hidden"
  [success]="success"
  [heading]="'Forgot password'"
  [message]="message"
>
</app-popup-message>



